@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Mochiy+Pop+One&family=Pacifico&display=swap');

body {
  width: 100vw;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(2, 2, 2);
}
.search-box {
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.input_search {
  border: 1px solid #58ae91;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.325);
  padding: 6px;
  font-size: 14px;
  transition: .2s;
  color: white;
}
.input_search::placeholder {
  color: white;
}
.search-box:hover > .input_search {
  width: 240px;
}
.titulo {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-left: 15px;
  font-family: 'Pacifico', cursive;
  color: white;
}
.sub_header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links_header {
  background: rgb(2, 2, 2);
  width: 100%;
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  font-size: 1.2rem;
  color:#58ae91;
  font-weight: bold;
}
.links:hover {
  border: 1px solid #58ae91;
  border-radius: 25px;
  padding: 0
   5px;
}
/* BACKGROUNDS */
.background{
  width: 100%;
  height: 410px;
  background: url('assets/images/background.jpeg') center no-repeat;
  background-size: contain;
}
.teste {
  width: 100%;
  height: 410px;
  background-color: rgba(0, 0, 0, 0.355);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_titulo{
  font-size: 1.5rem;
  margin-top: 60px;
  color: white;
  font-family: 'Mochiy Pop One', sans-serif;
}
.section_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  margin: 15px 0;
}
.animal_title {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 1.9rem;
  margin:5px 0;
}
.container {
  width: 100%;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.conteudo {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
}
.titles {
  margin: 10px 0;
  font-size: 1.3rem;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
.descricao {
  width: 200px;
  margin: 0;
  font-size: .9rem;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.imagens {
  width: 180px;
  height: 120px;
}
.imagens:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.rodape {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rodape-texto {
  color: black;
  font-weight: 550;
}
.rodape-texto a {
  text-decoration: none;
  color: black;
}
.rodape-texto a:hover {
  text-decoration: underline;
  color: gold;
  font-size: 1.5rem;
}

/* MEDIA QUERY */
@media screen and (min-width: 0) {
  .links_header {
    flex-direction: column;
    height: auto;
  }
  .background,
  .teste{
    width: 100%;
  }
  .sub_header,
  section,
  footer {
    width: auto;
  }
  .container {
    flex-direction: column;
  }
  .rodape-texto,
  .rodape-texto a {
    font-size: .8rem;
  }
}

@media screen and (min-width: 768px) {
  .links_header {
    flex-direction: row;
    height: 30px;
  }
  .background,
  .teste{
    width: 100%;
  }
  .sub_header{
    width: 100vw;
  }
  .container {
    flex-direction: row;
  }
  .rodape-texto,
  .rodape-texto a {
    font-size: 1rem;
  }
}
